$color: #3372df;

html,body,#view{
    height: 100%;
}

.white{
    color: #FFF;
}

main{
    margin-top: 0;
    min-height: 2000px;
}
section{
    padding-top: 2em;
    padding-bottom: 2em;
}

#facebookLogin{
    .modal{
        display: none;
    }
    a{
        font-weight: 400;
        font-family: 'Roboto Condensed', Helvetica, sans-serif;
        color: #FFF;
        padding: 25px;
        padding-left: 2.5em;
        padding-right: 2.5em;
        //line-height: 71px;
        border: none;
        background: none;
        text-decoration: none;
        outline: 0;
        box-shadow: none;
        &:focus {
            outline: 0;
            box-shadow: none;
        }
        &::before{
            border-right: none;
        }
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 74px;
    z-index: 2;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;

    .connect-header{
        position: relative;
        display: inline-block;
        height: 100%;
        background: $color;
        color: #FFF;
        float: right;
        margin-right: -350px;
        transition: all 0.3s;

        &:hover{
            transition: background 0.3s;
            background: lighten( $color, 10% );
        }
    }
    h3{
        float: left;
        margin-left: 4.4%;
        //padding-top: 0.9em;
        a{
            text-decoration: none;
            color: #FFF;
        }
    }
    nav{
        float: right;
        height: 100%;
        display: inline-block;
        padding-right: 4.4%;
        ul{
            margin-right: 0;
            padding-top: 1.5em;
            width: 100%;
            li{
                float: left;
                margin-left: 1em;
                color: #FFF;
                display: inline-block;
                a{
                    color: #FFF!important;
                    transition: all 0.3s;
                    &:hover{
                        opacity: 0.7;
                        transition: background 0.3s;
                    }
                }
            }
        }
    }
    &.scrolled{
        background: #FFF;
        color: $color;
        transition: all 0.3s;
        border-bottom: 1px solid #e7e7e7;
        nav{
            ul li a{
                color: $color!important;
            }
        }
        .connect-header{
            margin-right: 0;
            transition: all 0.3s ease-in-out;
        }
        h3{
            a{
                color: $color;
            }
        }
    }
}

.bg-header{
    background: $color;
    position: absolute;
    height: 24em;
    width: 100%;
    transition: all 1s;
    z-index: 0;
}

.title-page{
    padding-top: 8em;
    h2{
        display: inline-block;
        color: #FFF;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
    }
    nav{
        margin-top: 1.2em;
        float: right;
        display: inline-block;
        p{
            color: #FFF;
        }
        a{
            color: #FFF!important;
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
        }
    }
}

.featured-list{
    padding: 0;
    padding-bottom: 3em;
}
