$color: #3372df;

.home-header{
    background: url('../images/home-cover2.jpg') no-repeat;
    background-size: cover;
    height: 100%;
}

.home{

    .title-home{
        height: 100vh;
        max-height: 24em;
        .container{
            margin-top: -2em;
            height: 100vh;
            display: flex;
            align-items: center;
            .inner{
                margin: 0px auto;
                text-align: center;
            }
            h1{
                margin-bottom: 1em;
                text-shadow: 0 1px 1px rgba(0,0,0,.3);
            }
        }
    }

    a.scrollBot{
        position: absolute;
        bottom: 2em;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
        i{
            font-size: 150%;
            color: #FFF;
        }
        &:hover{
            opacity: .7;
        }
    }


}
