// bower:scss
// endbower

$color: #536DFE;

main{
    margin-top: -40vh;
}

section{
    padding-top: 2em;
    padding-bottom: 2em;
}

header{
    background: blue;
    position: relative;
    width: 100vw;
    background: $color;
    height: 70px;
    h3{
        float: left;
        margin-left: 4.4%;
        a{
            text-decoration: none;
            color: #FFF;
        }
    }
    nav{
        float: right;
        padding-right: 4.4%;
        ul{
            float: right;
            margin-right: 0;
            width: 100%;
            li{
                float: left;
                margin-left: 1em;
                color: #FFF;
                display: inline-block;
                a{
                    color: #FFF;
                    transition: all 0.3s;
                    &:hover{
                        opacity: 0.7;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }
}


.bg-header{
    background: $color;
    position: relative;
    height: 50vh;
}


.title-page{
    margin-bottom: -1.5em;
    h2{
        display: inline-block;
        color: #FFF;
    }
    nav{
        margin-top: 1.2em;
        float: right;
        display: inline-block;
        p{
            color: #FFF;
        }
        a{
            color: #FFF!important;
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
        }
    }
}




.featured-list{
    padding: 0;
    padding-bottom: 3em;
}
