<div class="bg-header"></div>

<main class="event">

    <section class="title-page">
        <div class="container">
            <h2 class="">{{event.name}}</h2>
            <nav class="breadcrumbs">
                <p><a ng-href="#/" class="breadcrumbs__link">Home</a> / <a ng-href="#/events" class="breadcrumbs__link">Events</a> / <a ng-href="#/events/{{event.id}}" class="breadcrumbs__link">{{event.name}}</a></p>
            </nav>
        </div>
    </section>

    <section class="styleguide__featured-section">
        <div class="featured-section">
            <div class="container-medium">
                <ul class="featured-list">

                    <li class="featured-list__item clear">
                        <div class="container-small">
                            <div class="featured-list__content g--half">
                                <p>{{event.description}}</p>
                            </div>
                            <div class="featured-list__img-wrapper g--half g--last">
                                <div class="featured-list__img">
                                    <img src="images/icons/placeholder--small.png" alt="small image placeholder example">
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </section>

</main>
